@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ahsing";
    src: url("/fonts/Ahsing.woff2") format("woff2"),
            url("/fonts/Ahsing.woff") format("woff"),
            url("/fonts/Ahsing.otf") format("opentype");
}

* {
    @apply transition-colors duration-200;
}

html {
    scroll-behavior: smooth;
}