@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ahsing";
    src:url("fonts/Ahsing.otf");
}

* {
    @apply transition-colors duration-200;
}

html {
    scroll-behavior: smooth;
}